@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Microsoft Australia Vivid</h1>
    <p class="lead">Main control application for the Vivid installation at the Microsoft Pitt st. store</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Approval screen</h2>
        <p>
            Monitor the submissions and approve/reject them as they come in.
        </p>
        <p>
        <a class="btn btn-default" href="/UserColors/Approve">Start approving &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Edit submissions</h2>
        <p>Need to update details on an entry? Here you can edit the approval status, colour name and submitter details</p>
        <p><a class="btn btn-default" href="/UserColors">Edit entries &raquo;</a></p>
    </div>
</div>